@font-face {
  font-family: 'Söhne';
  src: url('fonts/soehne-web-buch.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Söhne';
  src: url('fonts/soehne-web-kraftig.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Söhne';
  src: url('fonts/soehne-web-halbfett.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Söhne';
  src: url('fonts/soehne-web-dreiviertelfett.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}